<div class="card">
    <div class="header">
        <h1 class="title">{{ '<%=model.title%>.Details.Title' | translate}}</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="<%=camelize(name)%>">
<% for (let field of model.fields) { %>                
           
        <%if (field.readonly) {%>
            {{<%=camelize(name)%>.<%=field.name%> || 'n/a'}}

        <% } else if (!field.readonly && field.type === 'Date'){ %>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" placeholder="{{ ( '<%=model.title%>.Fields.<%=field.label%>.Label' || 'General.Date.Placeholder') | translate}}" name="<%=field.name%>">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        <% } else if (!field.readonly && field.type === 'number'){ %>
            <mat-form-field>
                <input matInput type="number" [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" name="<%=field.name%>" placeholder="{{ '<%=model.title%>.Fields.<%=field.label%>.Label' | translate}}">
            </mat-form-field>
        <% }else { %>
            <mat-form-field>
                <input matInput [(ngModel)]="<%=camelize(name)%>.<%=field.name%>" name="<%=field.name%>" placeholder="{{ '<%=model.title%>.Fields.<%=field.label%>.Label' | translate}}">
            </mat-form-field>
        <% } %>
           
<% } %>        
            <div class="form-group">
                <button (click)="saveMe()" mat-raised-button color="primary">{{ 'General.Actions.Save' | translate}}</button>
            </div>

        </form>
    
    </div>
</div>