/* You can add global styles to this file, and also import other style files */
@import "./app/shared/style/bidi";
@import "./app/shared/style/screens";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

button{
  a{
    color: inherit;
    text-decoration: none;
  }
}

.mat-column-delete {
  max-width: 2.5rem;
}
.spinner-container {
  padding: 5rem;
  text-align: center;
}


button.mat-fab.mat-primary.to-end {
  position: fixed;
  bottom: 0;
  margin: 2rem;
  @include screen-margin(1rem, 2rem);
}