@import '~@angular/material/theming';
// @import "./app/shared/style/screens";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$my-primary: mat-palette($mat-green, 800);
$my-accent: mat-palette($mat-cyan, 800);

// The warn palette is optional (defaults to red).
$my-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-theme);

// set all component default values
@mixin checkbox-theme($theme) {
  body {

    
    .mat-progress-spinner,
    .mat-progress-spinner svg{
      width: 20px !important;
      height: 20px !important;
      display: inline-block;
    }

    .mat-toolbar-single-row{
      padding: 0;
    }
  }

}

@include checkbox-theme($my-theme);


