<div class="card">
    
      <div class="header">
        <h1 class="title">Client</h1>
      </div>
      <div class="content">
    
        <form #f="ngForm">
<!---->
          <!--<div class="form-group">-->
            <!--<label>Client Name:</label>-->
            <!--<input [(ngModel)]="filter.clientName" name="clientName" class="form-control">-->
          <!--</div>-->
<!---->
          <div class="form-group">
            <!--<button (click)="search()" [disabled]="!f?.valid" class="btn btn-default">-->
              <!--Search-->
            <!--</button>-->
            <a routerLink="add" class="btn btn-default">New</a>
          </div>
        </form>
      </div>
    </div>
    
    <div class="card" *ngIf="clients && clients.length > 0">
    
      <table class="table table-contensed" >
        <thead>
        <tr>            
            <th>Client Name</th>            
            <th>Timestamp</th>
        </tr>
        </thead>
        <tr *ngFor="let item of clients" >
            <td>{{item.clientName}}</td>
            <td>{{item.timestamp}}</td>
            <td>

                <a [routerLink]="item._id">Details</a> |
                <a (click)="delete(item)">Delete</a>
            </td>
        </tr>
      </table>
    
    </div>
