<mat-toolbar color="primary">
  <div class="start">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="menuClicked()">
      <mat-icon aria-label="Side nav toggle icon">{{ headerIcon }}</mat-icon>
    </button>
    <span>{{ 'Website.Home.Title' | translate}}</span>
  </div>
  <div class="end">
    <app-page-menu></app-page-menu>
  </div>
</mat-toolbar>