.mat-toolbar {
  &.mat-primary {
    position: sticky;
    top: 0;
  }

  display: flex;
  > div {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
    z-index: 1;

    &.start{
      justify-content: flex-start;
      order: -1;
    }

    &.end{
      justify-content: flex-end;
      order: 1;
    }
  }
}