<div class="course">

  <h1>{{ 'Contact.List.Title' | translate}}</h1>


  <mat-form-field>

    <input matInput placeholder="Search" #input>

  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="contacts-table mat-elevation-z8" [dataSource]="dataSource"
             matSort matSortActive="_id" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="_id">-->
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item._id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell class="name-cell" *matCellDef="let item"><a [routerLink]="item._id">{{item.name}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>city</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.city}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stars">
      <mat-header-cell *matHeaderCellDef>stars</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.stars}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let item" >
        <button mat-icon-button (click)="deleteMe(item)"><mat-icon>delete</mat-icon> </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>


  <mat-paginator [length]="dataSource.itemsCount.value" [pageSize]="pageSize" 
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

  <button mat-fab class="to-end" color="primary"><a routerLink="add"><mat-icon>add</mat-icon></a></button>

</div> 
