.sidebar-wrapper{
  display: flex;
  align-items: baseline;
  background: lightblue;
  ul{
    list-style: none;
    margin: 0;

    align-items: baseline;
    li{
      display: inline-block;
      margin-right: 1rem;
    }
  }

  .spacer{
    flex:1;
  }
}

