<div class="card">
    <div class="header">
        <h1 class="title">Client Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="client">
                
            <div class="form-group">
                <label>Client Name:</label>
                <input [(ngModel)]="client.clientName" name="clientName" class="form-control">
                
            </div>
                
            <div class="form-group">
                <label>Timestamp:</label>
                <input [(ngModel)]="client.timestamp" name="timestamp" class="form-control">
                
            </div>
        
            <div class="form-group">
                <button (click)="saveMe()" class="btn btn-default">Save</button>
            </div>

        </form>
    
    </div>
</div>

