<button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon *ngIf="items.length">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of items" mat-menu-item (click)="item.action()">
      <mat-icon>{{item.icon}}</mat-icon>
      <span>{{item.title}}</span>
    </button>
  </mat-menu>