<div class="card">
  <div class="header">
    <h1 class="title">{{ 'Contact.Details.Title' | translate }}</h1>
  </div>
  <div class="content">
    <p *ngIf="errors">{{ errors }}</p>

    <form *ngIf="contact">

      <mat-form-field>
        <input matInput [(ngModel)]="contact.name" name="name" placeholder="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.city" name="city" placeholder="city">
      </mat-form-field>


      <mat-form-field>
        <input matInput type="number" [(ngModel)]="contact.stars" name="stars" placeholder="stars">
      </mat-form-field>


      <div class="form-group">
        <button mat-raised-button color="primary" (click)="saveMe()">Save</button>
      </div>


    </form>

  </div>
</div>