 <div id="dir-container" dir="{{dir}}">
    <app-header [drawer]="drawer"></app-header>

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
            <mat-nav-list *ngIf="!auth.isAuthenticated">
                <a *ngFor="let item of items" mat-list-item [routerLink]="item.url">{{item.title | translate}}</a>
                <a mat-list-item routerLink="/login" (click)="auth.login()">Login</a>
            </mat-nav-list>

            <mat-nav-list *ngIf="auth.isAuthenticated">
                <a mat-list-item routerLink="/contacts">{{ 'Contact.List.Title' | translate}}</a>
                <a mat-list-item routerLink="/users/{{auth.userProfile.name}}">{{auth.userProfile.name}}</a>
                <a mat-list-item routerLink="/login" (click)="auth.logout()">{{'General.Actions.Logout' | translate}}</a>
            </mat-nav-list>

        </mat-sidenav>


        <mat-sidenav-content>
            <div style="padding: 1rem;">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>